<div class="header-image w-full md:h-300 h-100 relative">
    <div class="absolute w-full h-full bg-black opacity-40">
    </div>
    <img class="w-full h-full object-fit" src="https://d18buiteds6yne.cloudfront.net/school-board.jpeg"
        alt="Description">
</div>
<div>
    <app-breadcrumbs></app-breadcrumbs>
</div>
<div class="container p-5 flex flex-col  mt-2 items-center">
    <div class="mx-8 my-5 flex flex-col content-center">
        <h1 class="text-6xl text-gray-600 font-thin mt-10 mb-5 mx-auto">Admission Process</h1>
        <hr class="border-secondary m-auto w-10">
    </div>
    <!-- <div class="container p-5 flex flex-col items-center">
         <h1 class="text-2xl text-gray-500 font-thin my-4">Classes</h1>
            <p class="text-lg my-2 text-gray-500">We Take Admission in following classes</p>
        <div class="flex flex-wrap space-x-4 space-y-2 w-full align-content-around items-center">
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                Nursery
            </div>
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                LKG
            </div>
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                UKG
            </div>
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                I
            </div>
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                II
            </div>
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                III
            </div>
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                IV
            </div>
            <div
                class="py-2 px-5 text-black shadow-md flex items-center justify-center rounded-lg font-thin cursor-pointer">
                V
            </div>
        </div>
    </div> -->

    <div
        class="admission-process flex flex-row items-center space-y-4 space-x-4 justify-around text-center mt-8 flex-wrap mb-10">
        <div class="shadow-lg rounded-md p-4" style="min-height: 300px;">
            <div class="flex flex-row m-10 justify-around items-center">
                <h1 class="text-5xl text-gray-500 font-medium"> <small>Step </small> 1.</h1>
                <i class="pi pi-pencil text-gray-500 " style="font-size: 30px;"></i>
            </div>
            <div class="container flex flex-row space-x-10 justify-center text-wrap">
                <p class="text-lg text-gray-500" style="max-width: 300px;">
                    Check the class in which you want to enroll your ward. Download corresponding application form given
                    <a class="text-blue-600" href="#application-form">here</a> fill it and submit to the school office.
                </p>
            </div>
        </div>
        <div class="shadow-lg rounded-md p-4" style="min-height: 300px;">
            <div class="flex flex-row m-10 justify-around items-center">
                <h1 class="text-5xl text-gray-500 font-medium"><small>Step </small> 2.</h1>
                <i class="pi pi-file text-gray-500" style="font-size: 30px;"></i>
            </div>
            <div class="container flex flex-row space-x-10 justify-center text-wrap">
                <p class="text-lg text-gray-500" style="max-width: 300px;">
                    Submit the required document as per the application submitted. Check the list given below
                    for required documents.
                </p>
            </div>

        </div>
        <div class="shadow-lg rounded-md p-4" style="min-height: 300px;">
            <div class="flex flex-row m-10 justify-around  items-center">
                <h1 class="text-5xl text-gray-500 font-medium"><small>Step </small> 3.</h1>
                <i class="pi pi-money-bill text-gray-500" style="font-size: 30px;"></i>
            </div>
            <div class="container flex flex-row space-x-10 justify-center text-wrap" style="max-width: 300px;">
                <p class="text-lg text-gray-500" style="max-width: 300px;">
                    Verify the registration and make payment for due amount at office.
                </p>
            </div>
        </div>
        <div class="shadow-lg rounded-md p-4" style="min-height: 300px;">
            <div class="flex flex-row m-10 justify-around  items-center">
                <h1 class="text-5xl text-gray-500 font-medium"><small>Step </small> 4.</h1>
                <i class="pi pi-check text-green-700" style="font-size: 30px;"></i>
            </div>
            <div class="container flex flex-row space-x-10 justify-center text-wrap" style="max-width: 300px;">
                <p class="text-lg text-gray-500" style="max-width: 300px;">
                    Verify the registration and make the purchase for academic materials such as Books, Uniforms, etc.
                    Below is the
                    given list of required materials.
            </div>
        </div>
    </div>
    <!-- 
    <div class="mx-8 my-5 flex flex-col content-center flex-wrap">
        <h1 class="text-6xl text-gray-600 font-thin mt-10 mb-5 mx-auto">
            <i class="pi pi-money-bill" style="font-size: 50px;"></i>
            &nbsp; &nbsp;Fee Structure
        </h1>
        <hr class="border-secondary m-auto w-10">
    </div>
    <div class="fee-structure md:p-5 md:m-5 bg-white shadow-md p-5">
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px- py-2">Class</th>
                    <th class="px-4 py-2">Admission Fee</th>
                    <th class="px-4 py-2">Tuition Fee</th>
                    <th class="px-4 py-2">Annual Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fee of fees; let i = index" [ngClass]="i % 2 == 0 ? 'bg-gray-200' : 'bg-white'">
                    <td class="border px-4 py-2">{{ fee.class }}</td>
                    <td class="border px-4 py-2">{{ fee.admissionFee }}</td>
                    <td class="border px-4 py-2">{{ fee.tuitionFee }}</td>
                    <td class="border px-4 py-2">{{ fee.annualFee }}</td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <div class="flex md:flex-row flex-wrap justify-around space-y-4 md:space-x-4 p-4">
        <div class="flex flex-col  md:p-5 md:m-5 shadow-md p-5 ">
            <div class="mx-8 my-2 flex flex-col content-center">
                <h1 class="text-6xl text-gray-600 font-thin mb-5 mx-auto">Downloads</h1>
                <hr class="border-secondary m-auto w-10">
            </div>
            <ul class="list-disc text-blue-700 cursor-pointer p-5">
                <li><a href="#application"></a>Application Form</li>
                <li><a href="#application"></a>Transfer Certificate</li>
            </ul>
        </div>
        <div class="fee-structure md:p-5 md:m-5 shadow-md ">
            <div class="mx-8 my-5 flex flex-col content-center">
                <h1 class="text-6xl text-gray-600 font-thin mt-10 mb-5 mx-auto">Document Required</h1>
                <hr class="border-secondary m-auto w-10">
            </div>
            <table class="table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Class</th>
                        <th class="px-4 py-2">Document Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doc of documentRequired; let i = index"
                        [ngClass]="i % 2 == 0 ? 'bg-gray-200' : 'bg-white'">
                        <td class="border px-4 py-2">{{ doc.class }}</td>
                        <td class="border px-4 py-2">{{ doc.documents }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>