<div class="header-image w-full md:h-300 h-100 relative">
    <div class="absolute w-full h-full bg-black opacity-40">
    </div>
    <img class="w-full h-full object-fill" src="https://d18buiteds6yne.cloudfront.net/greenrey.jpeg" alt="Description">
</div>
<app-breadcrumbs></app-breadcrumbs>

<div class="container flex flex-col md:mx-10 ">

    <div class="bg-white relative md:px-5">
        <div class=" h-300 absolute w-3 bg-secondary hidden md:block">

        </div>

        <div class="md:mx-10 md:p-10 mx-5 p-5 ">

            <div class="md:float-right ">

                <img src="https://www.klischool.com/common/image/Library_img.jpg" class="p-2 border-2 border-red-800"
                    alt="">

            </div>

            <h3 class="text-5xl font-bold my-5 font-normal antialiased">Library</h3>

            <div class="text-gray-800 leading-10 antialiased font-normal text-lg space-y-2">
                <p>Sir Francis Bacon rightly said, “Some books are to be tasted, others to be swallowed, and some few to
                    be
                    chewed and digested”.</p>

                <p>The Library being a part of the curriculum has become an important tool in the propagation of
                    academic
                    advancement. New Bal Shiksha Sadan Library has four libraries stocked with ample reference
                    material
                    to
                    inculcate love for reading. Our librarians and teachers encourage the children to choose books
                    according
                    to
                    their taste.
                </p>
                <br>

                <p>The school houses four libraries:
                    <br><b>KG</b> Library comprises of puzzle books, language books,
                    interactive flash cards, comprehensive curriculum of base scales, three dimensional books on rhyming
                    words,
                    numbers, alphabets, opposites etc.
                </p>

                <p><b>Classes I &amp; II</b> Library stocks fairy tales, fables, plays, and many more fiction books of
                    great
                    writers like Sally &amp; Sam, Enid Blyton, James H. Fassel, John Gatehouse, etc. </p>

                <p><b>Classes III to V</b> Library stores books on fairy tales, short stories, fables, academic
                    coverage,
                    general knowledge, art &amp; craft, etc.</p>

                <p><b>Classes VI to VIII</b> Library stocks books on quizzing, Science &amp; Technology, books on
                    English
                    Fiction, Art &amp; Craft, History books, Encyclopaedia and many other reference books. </p>

                <p><b>Classes IX to XII</b> Library stores books on English Fiction, Hindi Fiction, Science &amp;
                    Technology,
                    Art &amp; Craft, History books, Sample papers for the preparation of board exams, Encyclopaedias and
                    many
                    other reference books besides the syllabus books. From time to time books are added to our
                    pre-existing
                    voluminous stock. </p>

                <p>We also have a magazine section where sports magazines and popular magazines like India Today,
                    Reader’s
                    Digest, Outlook and The Week are supplied. </p>
            </div>

        </div>

    </div>

    <div class="md:px-5">
        <div class="md:mx-10 md:p-10 mx-5 p-5 ">

            <div class="md:float-left mx-5 p-5 ">

                <img src="https://www.klischool.com/common/image/Library_img.jpg" 
                class="p-2 border-2 border-red-800" alt="">

            </div>

            <h3 class="text-5xl font-bold my-5 font-normal antialiased text-start">Playground</h3>
            <hr class="border-secondary w-10 mb-5">

            <div class="text-gray-800 leading-10 antialiased font-normal text-lg space-y-5 ">
                <p>Physical fitness is not only one of the most important keys to a healthy body, it is the basis of
                    dynamic
                    and creative intellectual activity. The school has a vast playground with a variety of sports
                    facilities
                    like cricket, football, basketball, volleyball, badminton, table tennis, skating, etc. The
                    school
                    has
                    a well-qualified physical education teacher who trains the students in various sports
                    activities.
                </p>

                <p>Our school has a vast playground with a variety of sports facilities like cricket, football,
                    basketball,
                    volleyball, badminton, table tennis, skating, etc. The school has a well-qualified physical
                    education
                    teacher who trains the students in various sports.</p>
            </div>
        </div>
    </div>

</div>